/*Font settings*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 1vw);
}    
/*Nav Panel*/
    nav {
        display: flex;
    }

    /*Logo Image*/
    nav>img {
        width: 120px;
        border-radius: 50%;
        padding: 8px 0px;
    }

    /*Page Links*/
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0px 8px;
    }
        /*Link formating*/
        li a {
                color: black;
                text-decoration: none;
                border-top: 8px solid transparent;
                padding: 8px;
                gap: 8px;
            }

        li a:hover {
                cursor:pointer;
                border-top: 8px solid #e2b619;
            }
    
        li a:active {
                background-color: #e2b619;
            }

    /*Search Bar*/
    form{
        position: absolute;
        padding: 16px;
        right: 0px;
        height: 24px;
    }

/*Banner*/
.banner {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 300px;
}

/*Table*/
    table, td {
        border: 0px;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 8px;
    }

/*Copyright*/
    p.copyright {
        text-align: right;
    }